body {
  font-family: "Promt", sans-serif;
  background: lightgray;
}

.nav-wrapper {
  /* size of our desktop version, before is stays in the center */
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 30% auto;
  border: solid black 1px;
}

.nav-wrapper ul li {
  display: inline;
  list-style-type: none;
}

.nav-wrapper a {
  letter-spacing: 0.1em;
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

.nav-wrapper a:hover {
  cursor: pointer;
  color: #eee;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.list-item {
  margin-left: 10px;
  padding: 5px;
  text-transform: uppercase;
}

.burger-icon {
  display: none;
}

.main-wrapper {
  max-width: 1200px;
  margin: auto;
}

/* this wrapper holds the larger part of our webside */
.wrapper {
  max-width: 100%;
  margin: auto;
  display: grid;
  /* this creating three equal width columns, that are each onr fraction */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    "featuredMain featuredMain featuredSub"
    "contentMain contentMain contentSub";
}

/* GROUP SELECTOR */
.wrapper > .featured,
.wrapper > .sub-featured > div,
.wrapper > .main-content,
.wrapper > .main-sidebar {
  padding: 20px;
}

.featured {
  grid-area: featuredMain;
  min-height: 500px;
  border: solid black 1px;
  /* FADES THE DARKNESS UP */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)) border-box,
    url(https://source.unsplash.com/1600x900/?space) no-repeat center center;
  display: grid;
  align-content: flex-end;
  color: #fff;
}

.main-content,
.featured,
.sub-featured > div,
.main-sidebar {
  /* ADDS 25% OPACITY SHADOW OUTSIDE THE OUTSIDE OF THE EDGES */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.featured h1 {
  font-size: 36px;
  max-width: 650px;
}

/* behaves as a grid item (to featured), and a perent grid to these three sub items */
.sub-featured {
  grid-area: featuredSub;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  color: #fff;
}

.sub-featured h3 {
  margin-top: 0;
}

.sub1 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)) border-box,
    url(https://source.unsplash.com/400x100/?technology) no-repeat center center;
  background-size: cover;
}
.sub2 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)) border-box,
    url(https://source.unsplash.com/400x100/?code) no-repeat center center;
  background-size: cover;
}
.sub3 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)) border-box,
    url(https://source.unsplash.com/400x100/?coding) no-repeat center center;
  background-size: cover;
}

.main-content {
  grid-area: contentMain;
  background: rgba(255, 255, 255, 0.35);
  color: #444;
  line-height: 1.5em;
}

.main-sidebar {
  grid-area: contentSub;
  background: rgba(255, 255, 255, 0.35);
  color: #444;
  line-height: 1.5em;
}

.footer {
  display: grid;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)) border-box,
    url(https://source.unsplash.com/1600x400/?rock) no-repeat center center;
  background-size: cover;
  margin: auto;
  grid-template-columns:
    minmax(20px, 300px) minmax(20px, 300px)
    minmax(20px, 300px) minmax(20px, 300px);
  justify-content: center;
  grid-template-rows: 1fr 1fr;

  color: #fff;
}

.footer > div {
  padding: 20px;
}

.copyright {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  grid-column: 1/-1;
}

/* TABLET MEDIA QUERY */

/* THE BREAK POINT BETWEEN TABLET AND DESKTOP */
/* HERE WE OVERRIDE THE DEFAULT CSS */
@media screen and (max-width: 950px) {
  .wrapper {
    grid-template-areas:
      "featuredMain featuredMain featuredMain"
      "featuredSub featuredSub featuredSub"
      "contentMain contentMain contentSub";
  }
  .sub-featured {
    grid-template-columns: repeat(3, 1fr);
  }
  .nav-items {
    /* WHERE AN ELEMENT STARTS AND ENDS */
    /* STARTS AT GRID COLUMN 1 AND ENDS AT GRID COLUMN 5 */
    grid-column: 1/5;
    text-align: center;
  }
  .logo {
    grid-column: 1/5;
    text-align: center;
  }
  .nav-wrapper {
    margin-top: 0;
  }
}

/* MOBILE MEDIA QUERY */
@media screen and (max-width: 690px) {
  .logo {
    grid-column: 1/3;
  }
  .nav-items {
    grid-column: 1/5;
    text-align: center;
  }
  .nav-wrapper ul {
    padding: 0;
    margin: 0;
  }
  .nav-wrapper ul li {
    /* DEFAULT BEHAVIOR */
    /* LAYING OUT UP AND DOWN */
    display: block;
  }
  .burger-icon {
    display: inline-block;
    grid-column: 4/5;
    border: 2px solid #333;
    border-radius: 3px;
    color: #333;
    padding: 10px;
    font-weight: bold;
  }
  .burger-icon:hover {
    cursor: pointer;
  }
  .wrapper {
    grid-template-areas:
      "featuredMain featuredMain featuredMain"
      "contentMain contentMain contentMain"
      "featuredSub featuredSub featuredSub"
      "contentSub contentSub contentSub";
  }
  .featured h1 {
    font-size: 30px;
  }
  .sub-featured {
    /* SET THE ELEMENTS TO THEIR ORIGINAL */
    grid-template-columns: 1fr;
  }
  .footer > div {
    /* NEGATIVE 1 IS THE END OF OUR COLUMNS */
    grid-column: 1/-1;
  }
  .mobile-show {
    display: block;
  }
  .mobile-hide {
    display: none;
  }
}
